*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}



.container-fluid{
    width: 95%;
    margin: 0 auto;
}

header{
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
    background-color: #FFFFFF;
    box-shadow: 2px 10px 17px -6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 10px 17px -6px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 10px 17px -6px rgba(0,0,0,0.1);
}

#backModal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 4;
    position: fixed;
    display: none;
}



.ventanaModal img:nth-of-type(1){
    position: absolute;
    width: 0.9em;
    margin: 2em;
    top: -4%;
    left: 78%;
    cursor: pointer;
}

.ventanaModal img:nth-of-type(2){
    position: absolute;
    width: 1.15em;
    margin: 2em;
    top: -4.5%;
    left: -7%;
    display:none;
    cursor: pointer;
}


.ventanaModal{
    position: relative;
    width: 90%;
    height: 26em;
    max-height: 35em;
    max-width: 30em;
    background-color: #E4F8FF;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 4px 9px 3px #00000040;
    padding:2.5em 2em 2em;
    font-family: 'Manrope', sans-serif;
    overflow: visible;
 }

 #modalContacto2{
     display: none;
 }

 #modalContacto2 h6{
     margin-top: 1em;
     font-weight: 700;
 }

 #modalContacto2 input{
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding:0.2em;
    font-size: 0.85em;
    margin: 0.9em 0 0.3em;
    height: 2.2em;
    width: 97%;
 }

 #modalContacto2 textarea{
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    font-size: 0.85em;
    width: 97%;
    margin-top: 1em;
    height: 11em;
 }

 #modalContacto2 input:nth-of-type(1){
     margin: 1.1em 0 0.3em;
 }

 #modalContacto2 div{
    text-align: right;
    margin: 0.5em 0 0 0;
 }

 #modalContacto2 button{
     border: none;
     color: #FFFFFF;
     font-weight: 600;
     font-size: 0.85em;
     padding: 0.3em 1.5em;
     background-color:black;
     border-radius: 50px;
 }

 .ventanaModal h4{
     color: black;
     font-size: 1.5em;
     font-weight: 800;
 }

 .ventanaModal p{
     font-size: 0.8em;
     color: black;
 }

 .ventanaModal p span{
    font-weight: 700;
 }

 .ventanaModal div{
     margin: 0.8em 0;
 }

 .ventanaModal a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0.3em 1em;
    background-color: black;
    border-radius: 50px;
    font-size: 0.9em;
 }

 #accesoMail button{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0.3em 1em;
    background-color: black;
    border-radius: 50px;
    font-size: 0.9em;
    border: none;
 }

#accesoMail svg{
    margin-left: 2.7em;
}
 
#callToAction2{
    display: none;
    }

 .ventanaModal a svg{
     width: 1.25em;
     margin-bottom: 0.1em;
 }
 
 .ventanaModal a svg:nth-of-type(1){
    margin-left: 7em;
    }
    
.ventanaModal div:nth-of-type(1){
        margin-top: 1.5em;
    }
    

.ventanaModal p:nth-last-of-type(1){
    margin-top: 2em;
    text-align: center;
}

.ventanaModal div:nth-of-type(3){
    margin-top: 1.5em;
    text-align: center;
}

.ventanaModal div:nth-of-type(3) a{
    padding: 0.4em 3em;
    background-color:#55E08D;
}

#whatsapp{
    margin-top: 1.5em !important;
    text-align: center !important;
    display: none !important;
}

#whatsapp a{
    padding: 0.4em 3em !important;
    background-color:#55E08D !important;
}

.contenidoDeSeccion { 
    background: none;
    height:100%;
    padding: 1.5em 0 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 1em 0 1em;
}

nav div:nth-last-child(1){
    margin:1em;
}

nav div button:nth-of-type(1){
    text-decoration: none;
    font-weight:600;
    text-transform: uppercase;
    font-size:0.72em;
    padding: 1.2em 1.5em;
    background-color: #55E08D;
    color: #FFFFFF;
    border-radius:25px;
    border: none;
}

#inicio{
    background: none;
    
}

nav div a img{
    width: 8em;
    margin: 0.7em 0 0 0.5em;   
}

#carouselExampleIndicators{
    margin-top: 6.5em;
}

section article{
    color: #1A3A46;
}

.contenidoDeArticulo{
    color: #1A3A46;
}

.grilla article h2{
    font-family: 'Manrope', sans-serif;
    font-size:2.2em;
    width: 50%;
    font-weight: 800;
    line-height: 0.96;
    padding: 0.9em 0 0.6em;
}


.contenidoDeArticulo h2{
    font-weight:800;

}

.grilla article p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 85%;
    padding-bottom: 2em;
    margin: 0;
}

.contenidoDeArticulo p{
    font-weight: 600;
}

section article ul{
    list-style-image:url(img/elpiseListaAzulcita.png);   
}

section article ul li{
    margin:1em 0 ;
    font-weight:600;
}

section article ul li:nth-of-type(1){
    margin: 2.2em 0 1em 0 !important;
}

article + section{
    background-color:#EEFAFF;
    margin-top: 3em;
    padding-top: 3em;
}

article + section h2{
    font-weight:700;
    line-height: 0.96;
    color: #363636;
    font-size: 2.2em;
    padding-bottom: 0.85em;
}

h2 + article{
    background-color: #FFFFFF;
    padding: 1.5em 0;
}

h2 + section:nth-of-type(1) article h3{
    font-size: 1.8em;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    padding: 1.2em 0.5em 0.8em;
}


.grilla article:nth-of-type(2){
    padding-bottom: 1em;
}

.grilla article{
    background-color: #9CDFF8;
}

.contenidoDeSeccion{
    padding-bottom: 0.5em;
    display: block;
}

main section article {
    position:relative;
}

main section article button {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    z-index: 1;
}

#boton1{
    display:none;
}

#boton1Cerrar{
    display:none;
}

#boton2{
    display:none;
}

#boton2Cerrar{
    display:none;
}

#boton3{
    display:none;
}

#boton3Cerrar{
    display:none;    
}

.contenidoDeSeccion p{
    font-weight: 600;
}

#contenidoDeSeccionServicios div {
    padding: 0.75em 0 0.75em;
    font-size: 0.9em;
    background-color: #1A3A46;
}

#contenidoDeSeccionServicios div p{
    width: 88%;
    padding: 0;
    vertical-align: middle;
    font-weight: 600;
    color: #FFFFFF;
}

#contenidoDeSeccionServicios h6{
    font-size: 0.9em;
    font-weight: 600;
}

#contenidoDeSeccionServicios span{
    padding: 0.75em 0 0.75em;
    display:block;
    background-color: #D8F4FF;
}

#contenidoDeSeccionServicios{
    padding-bottom: 1.75em;
}

main{
    background-color:#EEFAFF;
}

main h2{
    font-size:2.5em;
    font-weight: 800;
    padding: 1.5em 0;
    font-family: 'Manrope', sans-serif;
}

main h3{
    padding: 1.2em 0 0.5em;
    font-size: 1.75em;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

main section {
    margin-bottom:4em ;
}

main section:nth-of-type(2) img{
    width: 90%;
    display:block;
    padding: 0;
}

main section:nth-of-type(2) p{
    font-size: 0.97em;
    margin-top: 1.7em;
}

section main section h6:nth-last-of-type(1){
    margin-bottom:0.5em;
}

.articleButton{
    display: none;
    background:none;
}

.articleButtonInverso{
    display: none;
    background:none;
}

section main section{
    background-color: #9CDFF8
}


#contenidoDeSeccionMetodosDePago{
    padding-bottom: 1.3em;
}

#contenidoDeSeccionMetodosDePago p br{
    padding:2em;
}

#contenidoDeSeccionHorarios h6{
    width: 90%;
    margin: 0 auto;
    display:block;
    font-weight: 600;
}

#contenidoDeSeccionHorarios ul {
    width: 95%;
    margin: 0 auto;
}

#contenidoDeSeccionHorarios ul li{
    margin: 1.2em auto 0;
}

#contenidoDeSeccionHorarios ul li h6{
    display:inline;
}

#contenidoDeSeccionHorarios ul li p {
    display:inline;
    font-weight: 500;
} 


footer{
    margin-top: 4.5em;
    height:23em;
    background-color:#FFFFFF;
    text-align: center;    
}

footer p{
    margin-bottom: 0;
    margin: 0.5em 0 0.5em;
    color: #009FD9;
    font-size: 0.9em;
    font-weight: 600;
}

footer h5{
    font-size: 1em;
    margin: 2em auto 1em;
    text-align: center;
    font-weight: 600;
    color: #009FD9;
    width: 70%;
}

footer img{
    margin: 0 auto;
    padding-top: 2.85em;
    display: block;
    width: 14em;
}

footer p:nth-of-type(1){
    margin-top: 1.7em;
}

footer p span{
    color: #009FD9;
    font-weight: 700;
}

#desktopFooterParagraph{
    display: none;
}

footer div div p:nth-of-type(1) span:nth-of-type(2){
    display: none;
}

footer p svg{
    font-size: 10em;
    margin-bottom: 0.025em;
}


@media screen and (min-width: 375px){
    #accesoMail svg{
        margin-left: 4.62em;
    }
    .ventanaModal div:nth-of-type(2) a svg{
        margin-left: 8.88em;
    }

    #accesoMail button{
        font-size:1em;
    }
    
    .ventanaModal div a{
        font-size:1em;        
    }

    .ventanaModal p{
        font-size:0.9em
    }
    
    .ventanaModal img:nth-of-type(1){
    left: 82%;    
    }
    .ventanaModal img:nth-of-type(2){
        left: -6%;
    }

    #modalContacto2 div{
        margin: 0;
    }
      
    #modalContacto2 button{
        margin:0.7em 0 0 14em;        
    }
    
}

@media screen and (min-width: 425px){
    footer p:nth-last-of-type(1){
        margin-top: 1em;
        text-align: center;
    }

    main section:nth-of-type(2) img{
        width: 85%;
    }

    #modalContacto2 button{
        margin:0.7em 0 0 16.72em;
    }

    #accesoMail svg{
        margin-left: 7.43em;
    }
    .ventanaModal div:nth-of-type(2) a svg{
        margin-left: 11.69em;

    }

    .ventanaModal{
        max-width: 385px!important
    }

    .ventanaModal img:nth-of-type(1){
        left: 84%;
    }
    .ventanaModal img:nth-of-type(2){
        left: -5%;
    }
}




@media screen and (min-width: 768px){
     .grilla {
         margin: 6.8em 0 0;
         display: grid;
         grid-template-columns: 1fr 1fr;
        }

        .contenidoDeSeccion{
            display: none;
        }
        .grilla article {
            width: 100% !important;
            margin: 0 !important;
            overflow: hidden !important;
            height: 256px;
        }

        main section {
            cursor: pointer;
        }

        main section:nth-of-type(2) img{
            width: 55%;
            margin-left:3% ;
        }

        #carouselExampleIndicators{
            margin-top: 0;
        }

        #carouselExampleIndicators2{
            order:3;
        }

        .contenidoDeArticulo{
            transform: translateY(0);
            transition: transform 500ms ease;
        }

        .contenidoDeArticulo h2{
            font-size: 4em !important;
            margin: 1em auto 1.7em;
            padding: 0 !important;
            width: 85% !important;        
        }

        main h3{
            padding: 0!important;
        }

        h2 + section:nth-of-type(1) article h3{
          margin-bottom:0 !important;
        }
        
        main section{
            padding: 1.5em 0 1.5em;
        }

        .contenidoDeArticulo p{
            font-size: 0.87em;
            width: 95% !important;
            margin: 0 auto !important;
            padding-top: 3em;
        }

        .grilla article:hover .contenidoDeArticulo{
            transform: translateY(-62%);
        }

        main section:nth-of-type(1) h2{
            font-size: 1em;
            font-weight: 800;
        }

        main section{
            width: 92%;
            margin: 0 auto 2em;
            border-radius: 25px;
            box-shadow: 0px 4px 26px -11px rgba(0,0,0,0.62);
            -webkit-box-shadow: 0px 4px 26px -11px rgba(0,0,0,0.62);
            -moz-box-shadow: 0px 4px 26px -11px rgba(0,0,0,0.62);
        }

        main section article {
            position:relative;
            border-radius: 50px !important;
        }
        
        .ventanaModal{
            width: 49%;
        }

        .ventanaModal div:nth-of-type(2) a svg {
            margin-left: 11.2em;
        }

        .ventanaModal p:nth-last-of-type(1){
            display: none;
        }

        .ventanaModal div:nth-of-type(3){
            display:none !important;
        }

        #whatsapp{
            display: block !important;
        }

        #accesoMail svg {
            margin-left: 7em !important;
        }

        main section h3{
            font-size:1.3em !important;
        }
        
        #contenidoDeSeccionServicios{
            width: 93%;
            margin: 0 auto;
        }

        #boton1{
            display:block;
        }        
        #boton2{
            display:block;
        }        
        #boton3{
            display:block;
        }        

        .articleButton{
            background:none;
            position:absolute;
            display: block;
            left: 92.5%;
            top: -4%;
        }

        #contenidoDeSeccionServicios div p {
            width: 90.5%;
        }

        .articleButtonInverso{
            background:none;
            position:absolute;
            left: 92.5%;
            top: -5%;
        }

        .articleButton img{
            width: 1.80em !important;
        }

        .articleButtonInverso img{
            width: 1.80em !important;
        }

        nav div a img {
            width: 9em;
            margin: 0.4em 0 0 0.5em;
        }

        footer{
            margin-top: 5em;
        }

        footer div div{
            display:grid;
            justify-content:space-between;
            grid-template-columns: 0.68fr 1fr;
            width: 67%;
            margin:0.5em auto 0;
        }

        footer div div p{
           margin: 0 !important;
        }
        
        footer div div p:nth-of-type(4){
            grid-column: span 2;
            font-size: 1.2em;
        }

        footer div div p:nth-of-type(2){
            text-align: left;
            padding-left: 0.6em;
        }

        footer div div p:nth-of-type(1) span:nth-of-type(2){
            display: inline-block;
            font-weight: 600;
            padding-left: 0.5em;
        }

        footer div div p:nth-of-type(1){
            text-align: right;
            padding: 0;
        }
    }

@media screen and (min-width: 1024px) {
    #carouselExampleIndicators{
        height: 341.328px;
        overflow: hidden;           
    }
    
    #carouselExampleIndicators2{
        height: 341.328px;      
        overflow: hidden;           
      
    }

    .grilla {
        margin: 6em 0 0;
    }

    .ventanaModal{
        max-width: 344px;
        left: 29%;
        top: 2%;
    }
    
    #backModal{
        background:none;
    }

    .ventanaModal a svg:nth-of-type(1) {
        margin-left: 6.5em;
    }

    .ventanaModal div:nth-of-type(2) a svg {
        margin-left: 11.6em;
    }
    
    .ventanaModal img:nth-of-type(1) {
        left: 82%;
    }

    #modalContacto2 button {
        margin: 0.7em 0 0 14em;
    }
    
    .grilla article{
        height: 341.328px;        
    }

    header + div {
        display: block;
        z-index: 3;
        width: 10.75em;
        height: 10.75em;
        position: fixed;
        padding: 1em;
        top: 68%;
        left: 89%;
    }
    

    #callToAction2{
        cursor: pointer;
        display: block;
        z-index: 3;
        width: 5.75em;
        position: fixed;
        top: 68%;
        left: 89%;
        animation: scale 2s alternate infinite;
    
    }

    @keyframes scale {
        0%{
            transform: scale(1)
        }
        50%{
            transform: scale(1.15)
        }
        100%{
            transform: scale(1)
        }
    }



    nav div:nth-of-type(1){
        margin: 0 auto;     
    }
    
    nav div:nth-of-type(2){
        display: none;
    }

    footer div div {
        width: 55%;
    }

    .contenidoDeArticulo h2{
        font-size: 4.5em;
        margin: 1.4em 1.15em 2.5em;
    }

    .contenidoDeArticulo p {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2.2em;
        font-size:1em;
    } 
    
    .contenidoDeArticulo ul{
        padding-bottom: 2.2em;
    }

    #contenidoDeSeccionServicios div p {
        width: 92%;
    }

    #contenidoDeSeccionMetodosDePago{
        justify-content:space-between;
        margin: 0 auto;
        width: 100%;
        padding: 2em 0 0 0;
    }

    #contenidoDeSeccionMetodosDePago div{
        display: flex;
        justify-content:space-between;
        flex-wrap: nowrap;
    }

    #contenidoDeSeccionMetodosDePago img{
        width: 30%;
    }


    #contenidoDeSeccionMetodosDePago p{
        width: 55%;
    }

    
    footer{
        position: relative;
    }

    footer img {
    margin: 0 90% 0 0;
    width: 14em;
    padding-top: 4.5em;
    }

    footer div div{
        display: block;
        width: 45%;
        margin: 0 60% 0 0;
    }
    
    footer p:nth-last-of-type(1){
        text-align: left;
    }

    footer div div p:nth-of-type(3){
        font-size:1em;
        text-align:left;
    }

    footer div div p:nth-of-type(1){
        display:none;
    }

    #desktopFooterParagraph{
        display: block;
    }

    footer div div p:nth-of-type(2){
        display: none;
    }

    footer h5{
        text-align:right;
        font-size:0.8em;
        margin: 0;
        position: absolute;
        top: 64%;
        right: 5%;
    }
}


 @media screen and (min-width: 1046px){

 }

 @media screen and (min-width: 1440px){
    
    .grilla article{
        height: 377px;        
    }

    .contenidoDeArticulo h2{
        font-size: 4em;
    }

    .grilla article:hover .contenidoDeArticulo{
        transform: translateY(-68%);
    }

    .ventanaModal{
        left: 32%;
    }

    main section:nth-of-type(2) img {
        width: 29%;
    }

    .contenidoDeArticulo p {
        font-size:1em;
        width: 95%;
        margin: 0 auto;
    }
    
    .contenidoDeArticulo ul {
        padding-top: 4em;
    }

    .grilla article:nth-of-type(1) p {
        width: 65%;
        margin-left:10%;
    }
    .grilla article:nth-of-type(2) ul {
        width: 65%;
        margin-left:10%;
    }

    .fotosNormales{
        animation: position 5s alternate infinite;
    }

    @keyframes position {
        0%{
            transform: translateY(0%)
        }
        50%{
            transform: translateY(-21%)
        }
        100%{
            transform: translateY(0%)
        }
    }

    #carouselExampleIndicators {
        height: 377px;
    }
    
    #carouselExampleIndicators2{
        height: 377px;
    }

    .grilla article:nth-of-type(1) p {
        width: 80% !important;
    }

    #contenidoDeSeccionServicios div p {
        width: 93%;
    }

    .contenidoDeArticulo h2 {
        font-size: 6em !important;
        margin: 1em 1.15em 2em;
    }

    footer div div {
        width: 50%;
    }

    footer div div p:nth-of-type(2) {
        padding-right: 42%;
    }   
}



@media screen and (min-width: 1877px){
    .ventanaModal {
        left: 33.65%;
    }
}

 
@media screen and (min-width: 1920px){
     main h2{
         font-size:2.5em
    }

    .grilla article{
        height: 438.25px;
    }
    
    #carouselExampleIndicators{
        height: 438.25px;
        
    }
    #carouselExampleIndicators2{
        height: 438.25px;

    }

    .grilla article:nth-of-type(1) p {
        width: 60%;
        margin-left:10%;
        font-size:1.2em
    }
    
    .grilla article:nth-of-type(2) li{
        font-size:1.2em
    }
    
    .grilla article:nth-of-type(2) ul{
        width: 60%;
        margin-left:10%;
    }
    
    .contenidoDeArticulo h2{
        font-size: 6em;
        margin: 1.2em 1.5em 1.4em;
    }
    
    .grilla article:hover .contenidoDeArticulo{
        transform: translateY(-60%);
    }
    
    main section:nth-of-type(2) img {
        width: 25%;
    }

    #contenidoDeSeccionServicios div p {
        width: 93.5%;
    }

    @keyframes position {
        0%{
            transform: translateY(0%)
        }
        50%{
            transform: translateY(-31%)
        }
        100%{
            transform: translateY(0%)
        }
    }

    .ventanaModal{
        left: 33.65% !important;
        top: 4% !important;
    }

    footer div div{
        width:40%
    }
    
    #contenidoDeSeccionHorarios h6 {
        width: 94.5%;
    }
    
}